{
    "name": "{{ pkgName }}",
    "description": "{{ pkgDescription }}",
    "type": "{{ pkgType }}",
    "keywords": [],
    "license": "{{ pkgLicense }}",
    "authors": {{ pkgAuthors }},
    "require": {
        "php": "^8.1"
    },
    "require-dev": {
    },
    "autoload": {
        "psr-4": {
            "{{ classRoot }}": "src/"
        }
    },
    "extra": {
        "branch-alias": {
            "dev-develop": "0.1.x-dev"
        }
    }
}
