<?php

// ecs.php

declare(strict_types=1);

use Symplify\EasyCodingStandard\Config\ECSConfig;

return ECSConfig::configure()
    ->withPaths({{ paths }})
    ->withPreparedSets(
        cleanCode: true,
        psr12: true
    );
